<div class="nav custom-navbar">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="../assets/images/logo.svg" alt="corpository-brand" width="180px">
    </a>
    <ul class="navbar-right navbar-nav nav">
      <li class="dropdown">
        <a href="#" class="nav-link" data-toggle="dropdown">
          <img src="../assets/images/grid.svg" alt="upload-icon">
        </a>
        <ul class="dropdown-menu dropdown-card">
          <li>
            <a href="#" class="product">
              <div class="icon"><img src="../assets/images/search.svg" alt="search"></div>
              <span class="product-name">explore</span>
            </a>
          </li>
          <li>
            <a href="#" class="product">
              <div class="icon"><img src="../assets/images/insight-icon.svg" alt=""></div>
              <span class="product-name">Inight</span>
            </a>
          </li>
          <li>
            <a href="#" class="product">
              <div class="icon"><img src="../assets/images/monitor-icon.svg" alt=""></div>
              <span class="product-name">monitor</span>
            </a>
          </li>
          <li>
            <a href="#" class="product">
              <div class="icon"><img src="../assets/images/risq-icon.svg" alt=""></div>
              <span class="product-name">risq</span>
            </a>
          </li>
          <li>
            <a href="#" class="product">
              <div class="icon"><img src="../assets/images/verify.svg" alt=""></div>
              <span class="product-name">verify</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="nav-link" data-toggle="dropdown">
          <img src="../assets/images/account-user-avatar.svg" alt="user">
        </a>
        <ul class="dropdown-menu">
          <div class="dropdown-header">
            <div class="user-icon"><img src="../assets/images/account-user-avatar.svg" alt="user-icon">
              <span>Harita chauhan</span>
            </div>
          </div>
          <li><a href="#">account setting</a></li>
          <li><a href="#">sign out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">© 2023 All rights reserved.</div>
      <div class="col-md-4 text-center">
        <a href="#">Contact Us</a>
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
      </div>
      <div class="col-md-4 text-right">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>